:root {
    // Css Color Variable
    --color__white: #ffffff;
    --color__black: #000000;
    --color__theme: #055300;
    --color__secondary: #FECA02;

    // Font
    --font-primary: "Rubik", sans-serif;
    --font-display: "Jost", sans-serif;

}
